/* body {
    width: 1440px;
    height: 1450px;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background: linear-gradient(178.39deg, rgba(252, 90, 28, 0.933333) -5.82%, #FFFCF2 101.55%);

} */
body {
    margin: 0;
  }