@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  width: 1440px;
  height: 800px;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  display: flex;
}

.index {
  position: absolute;
  top: 0px;
  left: 68px;
  width: 1302px;
  height: 800px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
}
.index h2 {
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: Normal;
  padding-top: 227px;
  padding-left: 190px;
}

.my-image {
  position: absolute;
  top: 235px;
  left: 100px;
  width: 60px;
  height: 60px;
}

.index .right-section {
  display: flex;
  align-items: center;
}

.index .right-section .links .button {
  display: flex;
  align-items: center;
  margin-right: 250px;
}

.logo {
  position: absolute;
  top: -65px;
  left: -67px;
  width: 375px;
  height: 375px;
}

.links {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.links a {
  text-decoration: none;
  color: rgb(247, 245, 245);
  margin-left: 20px;
  font-size: 25px;
}

.button-login {
  position: absolute;
  top: 110px;
  left: 790px;
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
  color: rgb(255, 255, 255);
  width: 174px;
  height: 46px;
  font-weight: bold;
  font-size: 15px;
}

.button-login:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.button-icon {
  position: absolute;
  top: 112px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

.button-icon img {
  width: 100%;
  height: 100%;
}

.button-icon:hover {
  opacity: 0.5;
}

.button-icon1 { left: 1000px; }
.button-icon2 { left: 1075px; }
.button-icon3 { left: 1140px; }
.button-icon4 { left: 1200px; }

.button-review {
  position: absolute;
  top: 110px;
  left: 261px;
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
  color: rgb(255, 255, 255);
  width: 174px;
  height: 46px;
  font-weight: normal;
  font-size: 20px;
}

.button-review:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.button-score {
  position: absolute;
  top: 110px;
  left: 480px;
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
  color: rgb(255, 255, 255);
  width: 174px;
  height: 46px;
  font-weight: normal;
  font-size: 20px;
}

.button-score:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.button-product {
  position: absolute;
  top: 110px;
  left: 700px;
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
  color: rgb(255, 255, 255);
  width: 174px;
  height: 46px;
  font-weight: normal;
  font-size: 20px;
}

.button-product:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.button-icon5 {
  position: absolute;
  top: 112px;
  left: 935px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 44px; /* ขนาดของปุ่ม */
  height: 44px;
}

.button-icon5 img {
  width: 100%;
  height: 100%;
}

.button-icon5:hover {
  opacity: 0.5;
}
